html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  scrollbar-color: rgb(var(--color-tertiary-active))
    rgb(var(--color-surface-active));

  ::selection {
    background-color: rgb(var(--color-tertiary-active));
    color: contrast-color(rgb(var(--color-tertiary-active)));
  }
}
