table,
td {
  border: 1px solid black;
}

table {
  width: 100%;

  td {
    padding: 2px;
    vertical-align: baseline;

    &:first-child {
      text-align: right;
      font-weight: 600;
      white-space: nowrap;
    }
  }
}

ul {
  margin-block: 0;
  padding-inline-start: 24px;
}
