---
const { class: className } = Astro.props;
---

<div class="block" class:list={className}>
  <div class="header"><slot name="header" /></div>
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .block {
    --color: 128 200 255;
    border: 1px solid black;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 0.15);
    background-color: white;
    margin: calc(var(--spacing, 8px) / 2);

    .header,
    .content {
      padding: 4px;
    }

    .header {
      background-color: rgb(var(--color));
      color: contrast-color(rgb(var(--color)));

      &:empty {
        display: none;
      }
    }
  }
</style>
