@use "sass:list";
@use "sass:math";

$icons-64:
  clock, calendar, eyes, mailbox, browser, camera, trash, briefcase, finder,
  palette, cd, picture, eightball, model, ferrari, games, ignaz, rolodex,
  wrench, application, grab, winamp, fonts, paintroller, shredder, warning,
  wallpaper, modernmouse, mouse, inspector, error, helmsman, lifesaver, tips,
  computer, computer2, file, folder;

$icons-16: back, forward, home, go, external, refresh, bookmark;

@mixin unwrapIcons($list, $size, $icons-per-row) {
  @for $i from 1 through list.length($list) {
    $icon: list.nth($list, $i);
    $y: math.floor(math.div(($i - 1), $icons-per-row));
    $x: ($i - 1) % $icons-per-row;

    &.#{$icon} {
      background-position: (-$x * $size) (-$y * $size);
    }
  }
}

.icon-64,
.icon-16 {
  display: block;
  image-rendering: pixelated;
}

.icon-64 {
  $icon-size: 64px;
  $icons-per-row: 4;

  width: $icon-size;
  height: $icon-size;
  filter: drop-shadow(
    var(--icon-shadow-depth) var(--icon-shadow-depth) 0 rgb(0 0 0 / 0.2)
  );

  @include unwrapIcons($icons-64, $icon-size, $icons-per-row);
}

.icon-16 {
  $icon-size: 16px;
  $icons-per-row: 4;

  width: $icon-size;
  height: $icon-size;

  @include unwrapIcons($icons-16, $icon-size, $icons-per-row);
}
