:root {
  --border-width: 2px;
  --icon-shadow-depth: 3px;

  font-size: 14px;
}

::selection {
  background-color: rgb(var(--color-tertiary-inactive));
}

.active *::selection {
  background-color: rgb(var(--color-tertiary-active));
}

@mixin color-variation-classes($name) {
  .color-#{$name} {
    --local-color: var(--color-#{$name}-inactive);
    &.active {
      --local-color: var(--color-#{$name}-active);
    }
  }
}

@include color-variation-classes(surface);
@include color-variation-classes(container);
@include color-variation-classes(primary);
@include color-variation-classes(secondary);
@include color-variation-classes(tertiary);
@include color-variation-classes(field);

.apply-color,
.bevel,
.emboss {
  background: rgb(var(--local-color));
  color: contrast-color(rgb(var(--local-color)));
}

.bevel,
.emboss {
  --local-color-light: color-mix(in srgb, rgb(var(--local-color)), white 50%);
  --local-color-dark: color-mix(in srgb, rgb(var(--local-color)), black 10%);
}

.bevel {
  border-left: var(--border-width) outset var(--local-color-light);
  border-top: var(--border-width) outset var(--local-color-light);
  border-right: var(--border-width) outset var(--local-color-dark);
  border-bottom: var(--border-width) outset var(--local-color-dark);

  &.interactive:enabled {
    cursor: pointer;

    &:active {
      border-left: var(--border-width) inset var(--local-color-dark);
      border-top: var(--border-width) inset var(--local-color-dark);
      border-right: var(--border-width) inset var(--local-color-light);
      border-bottom: var(--border-width) inset var(--local-color-light);
    }
  }
}

.emboss {
  border-left: var(--border-width) inset var(--local-color-dark);
  border-top: var(--border-width) inset var(--local-color-dark);
  border-right: var(--border-width) inset var(--local-color-light);
  border-bottom: var(--border-width) inset var(--local-color-light);
}

.text-shadow {
  // No custom contrast-color? No problem!
  text-shadow: 0 1.5px
    color-mix(
      in srgb,
      contrast-color(contrast-color(rgb(var(--local-color)))),
      transparent 50%
    );
}
